body {
  background-color: #F8F8F8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
}

#stage {
  position: absolute; 
  width: 100%; 
  height: 100%;
}